body,
html {
  background: $bg;
  color: $txt-light;
  display: flex;
  height: 100%;
  flex-direction: column;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
}

#home {
  height: calc(100vh - 71.35px);
}

.items-wrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  max-width: 100%;
}

.offcanvas-bottom {
  height: 50vh;
}

.btn-primary,
.btn-outline-primary {
  border: 1px solid $primary;
  border-radius: 2px;
  &:hover {
    border: 1px solid $primary-hover;
  }
}

.btn-primary {
  background: $primary;
  color: white;
  &:hover {
    background: $primary-hover;
  }
}

.btn-outline-primary {
  color: $primary;
  background: transparent;
  &:hover {
    color: white;
    background: $primary;
  }
}

.navbar-text {
  font-weight: 700;
}
.navbar-text,
a {
  color: $light-link !important;
}

.portfolio-item {
  transform: scale(0);
}
// Media Queries
@media (min-width: 576px) {
  .items-wrapper {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
}
